.card {
    width: 240px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 366px;
    background-color: #dfdddd;
    padding: 9px;
    box-sizing: border-box;
    margin-bottom: 7px;
    border-radius: 4px;
}

.card img {
    width: 100%;
}

.heading {
    font-size: 1.2em;
}

.qty {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

label {
    margin: 0.2em 0;
}

input {
    width: 30%;
    margin: 0.2em 0;
}

.card span {
    font-weight: 400;
}

.card p {
    font-weight: 200;
    font-style: italic;
}

.price {
    font-weight: 200;
}

.addToCart {
    background-color: #7c4dffa3;
    border-style: none;
    text-align: center;
    padding: 3px 2px;
    width: 100%;
    margin: 0 auto 8px aut0;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 600;
}

.addToCart:hover {
    background-color: #7c4dff41;
}